@charset "UTF-8";

header{
    flex-flow: column nowrap;
}

header > h1 {
    flex-basis: 50px;
}
nav#menu{
    display: none;
    flex-flow: column nowrap;
    width: 90vw;
    
}

span#burguer {
    width: 90vw;
    background-color: black;
    text-align: center;
    display: block;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;

    cursor: pointer;
}

span#burguer:hover{
    background-color: white;
    color: black;
    transition: background-color .5s;
}