@charset "UTF-8";

:root{
    margin: 0px;
    padding: 0px;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --cor0: skyblue;
    --cor1: orange;
    --cor2: yellow;
    --cor3: red;

}
div#q1{
    width: 200px;
    height: 200px;
    background-color:  var(--cor0);
    display: inline-block;
}
div#q2{
    width: 200px;
    height: 200px;
    display: inline-block;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
}
div#q3{
    width: 200px;
    height: 200px;
    display: inline-block;
    background-image: url(imagens/pattern001.png);
}
div#q4{
    width: 200px;
    height: 200px;
    display: inline-block;
    background-image: linear-gradient(to top, var(--cor1), black);
}
